.login-form {
  width: 300px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  background-color: rgba(127, 255, 212, 0.1);
  padding: 30px;
  border-radius: 20px;
  box-shadow:1px 1px 1px  rgb(254, 95, 2),-1px -1px 1px  rgb(254, 95, 2) ;
}
.search-form{
 height: 60px;
  background-color: rgb(87, 85, 85);
  display:flex;
  justify-content: center;
  align-items: center !important;
}
.cart-wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top:30px
}
.cart {
  width: 300px;
  height: 500px;
  position: relative;

}
.cart img {
  width: 300px;
  height: 450px;
}
.cart-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgb(63, 81, 180) !important;
  position: relative;
  bottom: 0;
  left: 0;
  height: 50px;
}
.pop {
  background-color: rgb(244, 127, 23);
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  width: 40px;
  text-align: center;
}