*{
  padding: 0;
  margin: 0;
}
.home-wrapper ,.details-wrapper,.app-wrapper, .genres{
  background-color:rgb(20, 20, 31) ;
}
.details-wrapper .card {
  background-color: #343444
}
.loginn{
  background-image: url("./assets/login.png");
background-position: center;
background-size: contain;
background-attachment: fixed;
object-fit: contain;
  width: 100vw;
  height: calc(100vh - 150px);
  display: grid;
  place-items: center;
}
.login-form {
  width: 300px;
  /* position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */
  color: white;
  margin: auto;
  background-color: rgba(127, 255, 212, 0.1);
  padding: 30px;
  border-radius: 20px;
  box-shadow:1px 1px 1px  rgb(254, 95, 2),-1px -1px 1px  rgb(254, 95, 2) ;
}
.search-form{
 height: 65px;
  background-color: rgb(244 127 23);
  display:flex;
  justify-content: center;
  align-items: center ;
  padding-top: 15px;
}
.cart-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top:30px;
  margin-bottom:30px
}
.cart {
  width: 300px;
  height: 500px;
  position: relative;
  overflow: hidden;
  box-shadow: 6px 8px 6px -2px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 8px 6px -2px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 8px 6px -2px rgba(0,0,0,0.75);
}
.cart:hover .description {
  right: 0;
}
.cart img {
  width: 300px;
  height: 450px;
  cursor: pointer;
}
.cart-footer {
  padding:5px 10px;
  display: flex;
  /* justify-content: space-around; */
  gap:10px;
  align-items: center;
  background-color:rgb(63, 81, 180) !important;
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  position: relative;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 50px;
  word-wrap: break-word;
  word-break:break-all ;

}
.pop-text {
  width: 240px;
}
.pop {
  background-color: rgb(244, 127, 23);
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  width: 60px;
  text-align: center;
}
.description {
  width: 300px;
  height: 300px;
  display: flex;
  position: absolute;
  right: -300px;
  bottom: 50px;
  z-index: 99;
  padding: 15px;
  overflow-y: auto;
  background-color: rgb(231 145 69);
  transition: right 0.5s;
  cursor: pointer;
  color: white;
}

.detail-media img {
  /* width: 80vw !important; */
  height: auto;
}
.detail-body p{
border-bottom: 1px solid white;
padding:5px;
font-size: 18px;
font-weight: 500;
}
.detail-body p a{
color: rgba(255, 255, 255, 0.865);
}
.genres{
  display: flex;
  flex-direction: row !important;
  flex-wrap: nowrap !important;
  justify-content: center;
  gap:15px
 
}
.genres p {
  border: 1px solid white;
  border-radius: 15px;
  padding: 5px;
}
.card {
  border:none !important;
  width:100%
}

/* scroolbar setting */
::-webkit-scrollbar {
  width: 8px;
  background: transparent;
  border-radius: 3px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(243, 234, 234, 0.5);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: none;
  background-color: transparent;
}

.card{
  box-shadow: -1px 15px 30px -10px black;
}
.card-wr-bg:hover{
  background-color: #f4dd97;
  cursor: pointer;
  transition: all 1s ease;
  transform: scale(1.04);
}
.card-s-bg:hover{
  background-color: #8bdfb8;
  cursor: pointer;
  transition: all 1s ease;
  transform: scale(1.04);
}
.card-d-bg:hover{
  background-color: #f07a85;
  cursor: pointer;
  transition: all 1s ease;
  transform: scale(1.04);
}
.card-footer{
  justify-content:space-around;
  text-align: center;
  display: flex;
  padding: 0px!important;
}
.card-footer div{
  flex-grow: 1 !important;
  border-right: 1px solid #dbdbdb;
  padding: 10px 0;
}
.card-footer div:last-child{
border-right: none;    
}
.footer-wrapper {
  height: 100px;
  line-height: 100px;
 color: azure;
}
.footer-wrapper a{
 text-decoration: none;
 color: azure;
}
.footer-wrapper a:hover{
 text-decoration: underline;
 color: rgb(3, 9, 9);
}